.just{
    width: 300px;
    border-radius: 1rem;
    padding: 12px ;
    margin: 20rem;
    background-color: white;
    text-align: center;
}
main img{ 
    width: 300px ;
    border-radius: 5%;
}
#read{
    border-radius: 10px;
    padding: 7px;

}
body{

    background-color: silver;

}
.kit{
    
    text-align: left;
    border: 1px solid silver;
}